body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.calc-body{
  box-shadow: 6px -6px #2E8B57 ;
}

.number{
  box-shadow: 6px 3px #2E8B57 ;
}